<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text">
            Navbar text with an inline element
        </span>
    </div>
</nav>



<div class="col-lg-2" id="sidenavbar">
    <ul class="list-group">
        <li class="list-group-item btn btn-light">
            Home
        </li>
        <li class="list-group-item btn btn-light">
            Trending
        </li>
        <li class="list-group-item btn btn-light">
            Library
        </li>
        <li class="list-group-item btn btn-light">
            Subscription
        </li>
        <li class="list-group-item btn btn-light">
            History
        </li>
        <li class="list-group-item btn btn-light">
            Home
        </li>
        <li class="list-group-item btn btn-light">
            Trending
        </li>
        <li class="list-group-item btn btn-light">
            Library
        </li>
        <li class="list-group-item btn btn-light">
            Subscription
        </li>
        <li class="list-group-item btn btn-light">
            History
        </li>
        <li class="list-group-item btn btn-light">
            Home
        </li>
        <li class="list-group-item btn btn-light">
            Trending
        </li>
        <li class="list-group-item btn btn-light">
            Library
        </li>
        <li class="list-group-item btn btn-light">
            Subscription
        </li>
        <li class="list-group-item btn btn-light">
            History
        </li>
        <li class="list-group-item btn btn-light">
            Trending
        </li>
        <li class="list-group-item btn btn-light">
            Library
        </li>
        <li class="list-group-item btn btn-light">
            Subscription
        </li>
        <li class="list-group-item btn btn-light">
            History
        </li>

    </ul>
</div>





<section class="container-fluid">

    <section class="row justify-content-center">

        <div class="col-lg-3 col-md-3 col-sm-3" id="login">
            <h3>
                <p class="text-center">Change Password</p>
            </h3>
 
            <div *ngIf="form.errors" class="alert alert-danger">Passwords do not match!</div>
            <!-- 1.  [formGroup] directive -->
            <form [formGroup]="form" action="" class="form-group" (ngSubmit)="onSubmit(np.value,cp.value)">
                <!-- <form [formGroup]="form" action="" class="form-group"> -->
                <label for="">Old Password</label>
                <!-- 2. formControlName -->
                <input type="password" class="form-control" formControlName="oldPassword">

                <!-- error div containers -->
                <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">

                    <div *ngIf="oldPassword.errors.required">
                        Please enter the old password!
                    </div>

                    <div *ngIf="oldPassword.errors.passwordNotMatch">
                        Old password doesn't match !
                    </div>


                </div>

                <label for="">New Password</label>
                <input type="password" class="form-control" formControlName="newPassword" #np >


                <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">

                    <div *ngIf="newPassword.errors.required">
                        Please enter the new password!
                    </div>

                    <div *ngIf="newPassword.errors.shouldBeUnique">
                        New password should be unique.
                    </div>

                    <div *ngIf="newPassword.errors.minlength">
                        Mininum length of password should be {{newPassword.errors.minlength.requiredLength}}
                    </div>


                </div>


                <label for="">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" (change)="log(confirmPassword)" #cp>

                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">

                    <div *ngIf="confirmPassword.errors.required">
                        Please enter the confirm password!

                    </div>

                    <div *ngIf="confirmPassword.errors.minlength">
                        Mininum length of password should be {{confirmPassword.errors.minlength.requiredLength}}

                    </div>

                   

                </div>

                <button class="btn btn-primary btn-block mt-3">Submit</button>

            </form>



        </div>

    </section>
</section>